{
    "instance": {
        "name": "{{ rds_name }}",
        "datastore": {
            "type": "{{ rds_type }}",
            "version": "{{ rds_version }}"
        },
        "flavorRef": "{{ rds_flavor_id }}",
        "volume": {
            "type": "{{ rds_volume_type }}",
            "size": {{ rds_volume_size }}
        },
        "region": "eu-de",
        "availabilityZone": "eu-de-01",
        "vpc": "{{ vpc_id }}",
        "nics": {
          "subnetId": "{{ subnet_id }}"
        },
        "securityGroup": {
            "id": "{{ secgroup_id }}"
        },
        "dbPort": {{ rds_port }},
{% if rds_backup_days is defined and rds_backup_days|length != 0 %}  
        "backupStrategy": {
            "startTime": "{{ rds_backup_time }}",
            "keepDays": {{ rds_backup_days }}
        },
{% endif %}  
{% if rds_ha_enabled == true %}  
        "ha": {
            "enable": true,
            "replicationMode": "{{ rds_ha_replication_mode }}"
        },
{% endif %}  
        "dbRtPd": "{{ rds_root_password }}"
    }
}
