{
    "name": "{{ rds_name }}-params",
    "description": "Ansible generated parameter group",
    "values": {
{% for key, value in rds_parametergroup.iteritems() %}
        "{{ key }}": "{{ value }}",
{% endfor %}
    },
    "datastore": {
        "type": "{{ rds_type }}",
        "version": "{{ rds_version }}"
    }
}
